html {
  width: 100%;
  height: 100%;
  font-family: "Lucida Bright", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: right;
}

form {
  margin-top: 1%;
  margin-right: 3%;
  font-size: 24px;
  font-weight: bold;
}

label {
  color: white;
}

input {
  border-radius: 3px;
  border: 1px solid black;
  opacity: 0.5;
  height: 25px;
}

.error {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.container {
  display: flex;
  height: 75vh;
  justify-content: start;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 200px;
}

.location {
  font-weight: 1000;
  font-size: 44px;
}

.location > h2 {
  margin-bottom: 0;
}

.weather-display {
  display: flex;
  align-items: center;
}

.temperature {
  font-weight: bolder;
  font-size: 56px;
  margin-right: 50px;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  font-weight: bold;
  font-size: 24px;
  border-left: 2px solid black;
  padding-left: 45px;
}

.weather-details > p {
  height: 20px;
  flex-basis: 50%;
}
